<div class="container">
  <div class="col-sm-6 col-sm-offset-3">
    <h2 class="center-text">Thank you for your question!</h2>
<br />

        <div class="field form-group">
          <p>Topic:</p>
        </div>

        <div class="field form-group">
          <p>Difficulty: </p>
        </div>



        <%= link_to("Edit", :back, class: "btn btn-info") %>
  </div>
</div>

