<h2>Questions:</h2>
<ol>
  <% @questions.each do |question| %>
    <li><strong><%= question.condition %></strong>
      <ul>
        <% question.answers.each do |answer| %>
          <li><%= answer.solution %> (<%= answer.answer_valid %>)</li>
        <% end %>
      </ul>
    </li>
  <% end %>
</ol>
<%= link_to("Back", topics_path , class: "btn btn-info") %>