<div class="skills">
	<div class='col-md-12 row'>
    	<div class="btn-group pull-right">
      		<a><%= link_to "Back to profile", user_path(current_user), class: 'btn btn-primary'%></a>
    	</div>
    	<hr/>
  	</div>
<%= form_for user, :url => url_for(controller: :skills, action: :update) do %>
	<% user_topics_ids = user.topics.map &:id %>
	<% Topic.all.each do |topic| %>
	<label><input type="checkbox" name="skills[]" value="<%= topic.id %>" <% if user_topics_ids.include?(topic.id) %>checked="checked"<%end%>><%= topic.name %></label>
	<% end %>
	<input type="submit" />
<% end %>
</div>