<html>
<h1>Profile</h1>
<br>
<br>
<br>
<h4>Email:</h4><%=current_user.email %>

<div align="center">
<button type="button" class="btn btn-default btn-lg"><%= link_to "Create New Question", new_question_path %></button> 
</div>

