<body id="test">
  <div class="tabbed">
    <input type="radio" name="tabs" id="tab-nav-1" checked>
    <label for="tab-nav-1">question 1</label>
    <input type="radio" name="tabs" id="tab-nav-2">
    <label for="tab-nav-2">question 2</label>
    <input type="radio" name="tabs" id="tab-nav-3">
    <label for="tab-nav-3">question 3</label>
    <input type="radio" name="tabs" id="tab-nav-4">
    <label for="tab-nav-4">question 4</label>
    <input type="radio" name="tabs" id="tab-nav-5">
    <label for="tab-nav-5">question 5</label>
    <input type="radio" name="tabs" id="tab-nav-6">
    <label for="tab-nav-6">question 6</label>
    <input type="radio" name="tabs" id="tab-nav-7">
    <label for="tab-nav-7">question 7</label>
    <input type="radio" name="tabs" id="tab-nav-8">
    <label for="tab-nav-8">question 8</label>
    <input type="radio" name="tabs" id="tab-nav-9">
    <label for="tab-nav-9">question 9</label>
    <input type="radio" name="tabs" id="tab-nav-10">
    <label for="tab-nav-10">question 10</label>
    
    <div class="tabs">
      <div><h2>question 1</h2><p> 
              <ul id="guestion_left" float="right" list-style-type="none">
                <li><input type="radio" name="question_9" id="tab_question_9_1">
                    <label for="tab_question_9_1">answer 1</label></li>
                <li><input type="radio" name="question_9" id="tab_question_9_2">
                    <label for="tab_question_9_2">answer 2</label></li>
                <li><input type="radio" name="question_9" id="tab_question_9_3">
                    <label for="tab_question_9_3">answer 3</label></li>
                <li><input type="radio" name="question_9" id="tab_question_9_4">
                    <label for="tab_question_9_4">answer 4</label></li>
              </ul>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet nulla tortor, a posuere urna. Praesent urna quam, semper ut ultricies et, mollis ac elit.
           </p></div>
      <div><h2>question 2</h2><p>
              <ul id="guestion_left" float="right" list-style-type="none">
                <li><input type="radio" name="question_9" id="tab_question_9_1">
                    <label for="tab_question_9_1">answer 1</label></li>
                <li><input type="radio" name="question_9" id="tab_question_9_2">
                    <label for="tab_question_9_2">answer 2</label></li>
                <li><input type="radio" name="question_9" id="tab_question_9_3">
                    <label for="tab_question_9_3">answer 3</label></li>
                <li><input type="radio" name="question_9" id="tab_question_9_4">
                    <label for="tab_question_9_4">answer 4</label></li>
              </ul>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet nulla tortor, a posuere urna. Praesent urna quam, semper ut ultricies et, mollis ac elit.
           </p></div>
      <div><h2>question 3</h2><p>
              <ul id="guestion_left" float="right" list-style-type="none">
                <li><input type="radio" name="question_9" id="tab_question_9_1">
                    <label for="tab_question_9_1">answer 1</label></li>
                <li><input type="radio" name="question_9" id="tab_question_9_2">
                    <label for="tab_question_9_2">answer 2</label></li>
                <li><input type="radio" name="question_9" id="tab_question_9_3">
                    <label for="tab_question_9_3">answer 3</label></li>
                <li><input type="radio" name="question_9" id="tab_question_9_4">
                    <label for="tab_question_9_4">answer 4</label></li>
              </ul>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet nulla tortor, a posuere urna. Praesent urna quam, semper ut ultricies et, mollis ac elit.
           </p></div>
      <div><h2>question 4</h2><p>
              <ul id="guestion_left" float="right" list-style-type="none">
                <li><input type="radio" name="question_9" id="tab_question_9_1">
                    <label for="tab_question_9_1">answer 1</label></li>
                <li><input type="radio" name="question_9" id="tab_question_9_2">
                    <label for="tab_question_9_2">answer 2</label></li>
                <li><input type="radio" name="question_9" id="tab_question_9_3">
                    <label for="tab_question_9_3">answer 3</label></li>
                <li><input type="radio" name="question_9" id="tab_question_9_4">
                    <label for="tab_question_9_4">answer 4</label></li>
              </ul>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet nulla tortor, a posuere urna. Praesent urna quam, semper ut ultricies et, mollis ac elit.
           </p></div>
      <div><h2>question 5</h2><p>
              <ul id="guestion_left" float="right" list-style-type="none">
                <li><input type="radio" name="question_9" id="tab_question_9_1">
                    <label for="tab_question_9_1">answer 1</label></li>
                <li><input type="radio" name="question_9" id="tab_question_9_2">
                    <label for="tab_question_9_2">answer 2</label></li>
                <li><input type="radio" name="question_9" id="tab_question_9_3">
                    <label for="tab_question_9_3">answer 3</label></li>
                <li><input type="radio" name="question_9" id="tab_question_9_4">
                    <label for="tab_question_9_4">answer 4</label></li>
              </ul>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet nulla tortor, a posuere urna. Praesent urna quam, semper ut ultricies et, mollis ac elit.
           </p></div>
      <div><h2>question 6</h2><p>
              <ul id="guestion_left" float="right" list-style-type="none">
                <li><input type="radio" name="question_9" id="tab_question_9_1">
                    <label for="tab_question_9_1">answer 1</label></li>
                <li><input type="radio" name="question_9" id="tab_question_9_2">
                    <label for="tab_question_9_2">answer 2</label></li>
                <li><input type="radio" name="question_9" id="tab_question_9_3">
                    <label for="tab_question_9_3">answer 3</label></li>
                <li><input type="radio" name="question_9" id="tab_question_9_4">
                    <label for="tab_question_9_4">answer 4</label></li>
              </ul>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet nulla tortor, a posuere urna. Praesent urna quam, semper ut ultricies et, mollis ac elit.
           </p></div>
      <div><h2>question 7</h2><p>
              <ul id="guestion_left" float="right" list-style-type="none">
                <li><input type="radio" name="question_9" id="tab_question_9_1">
                    <label for="tab_question_9_1">answer 1</label></li>
                <li><input type="radio" name="question_9" id="tab_question_9_2">
                    <label for="tab_question_9_2">answer 2</label></li>
                <li><input type="radio" name="question_9" id="tab_question_9_3">
                    <label for="tab_question_9_3">answer 3</label></li>
                <li><input type="radio" name="question_9" id="tab_question_9_4">
                    <label for="tab_question_9_4">answer 4</label></li>
              </ul>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet nulla tortor, a posuere urna. Praesent urna quam, semper ut ultricies et, mollis ac elit.
           </p></div>
      <div><h2>question 8</h2><p>
              <ul id="guestion_left" float="right" list-style-type="none">
                <li><input type="radio" name="question_9" id="tab_question_9_1">
                    <label for="tab_question_9_1">answer 1</label></li>
                <li><input type="radio" name="question_9" id="tab_question_9_2">
                    <label for="tab_question_9_2">answer 2</label></li>
                <li><input type="radio" name="question_9" id="tab_question_9_3">
                    <label for="tab_question_9_3">answer 3</label></li>
                <li><input type="radio" name="question_9" id="tab_question_9_4">
                    <label for="tab_question_9_4">answer 4</label></li>
              </ul>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet nulla tortor, a posuere urna. Praesent urna quam, semper ut ultricies et, mollis ac elit.
           </p></div>         
      <div id="question_9"><h2>question 9</h2>
           <p>
              <ul id="guestion_left" float="right" list-style-type="none">
                <li><input type="radio" name="question_9" id="tab_question_9_1">
                    <label for="tab_question_9_1">answer 1</label></li>
                <li><input type="radio" name="question_9" id="tab_question_9_2">
                    <label for="tab_question_9_2">answer 2</label></li>
                <li><input type="radio" name="question_9" id="tab_question_9_3">
                    <label for="tab_question_9_3">answer 3</label></li>
                <li><input type="radio" name="question_9" id="tab_question_9_4">
                    <label for="tab_question_9_4">answer 4</label></li>
              </ul>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet nulla tortor, a posuere urna. Praesent urna quam, semper ut ultricies et, mollis ac elit.
           </p>
      </div>
      <div><h2>question 10</h2><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet nulla tortor, a posuere urna. Praesent urna quam, semper ut ultricies et, mollis ac elit. </p><p><img src="http://risovach.ru/upload/2013/04/mem/chyo_15578339_orig_.jpeg"></p></div>
