<div class="main">
  <div class="container">
    <h1>Hello, soon there will be a real test_</h1>
    <p><img src="http://100balov.info/uploads/user/4683/image/8942f045fa1a1c7f96c3dda6161813b2.jpg" alt="YOUR QUIZ"></p>  
    <p><img src="https://www.how-to-study.com/study-skills-images/test-anxiety-assessment.jpg" alt="YOUR QUIZ"></p>
    <p><img src="http://maui.hawaii.edu/tlc/wp-content/uploads/sites/53/2013/11/testing.jpg" alt="YOUR QUIZ"></p>
  </div>
</div>