<div class="background">
	<h1 class="center-text welcome-header-one">Welcome to Geekometer application!</h2>
	<div class="welcome-main-area">
		<p class="center-text">If you want to go to <b>Admin Panel</b> - <%= link_to("Press here!", admin_root_path) %></p>
		<p class="center-text">If you want to <b>Logout</b> - <%= link_to("Press here!", destroy_user_session_path) %></p>
	</div>
</div>