// Place all the styles related to the Tests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


* {
  box-sizing: border-box;
}

#test {
  background: gray;
  color: #eee;
  font: 2em 'PT Sans', sans-serif;
}

::selection {
  background-color: #4EC6DE;
}

.tabbed {
  width: 994px;
  margin: 50px auto;
}

.tabbed > input {
  display: none;
}

.tabbed > label {
  background: #b1f6cb;
  display: block;
  width: 137px;
  height: 50px;
  float: left;
  padding: 12px 20px;
  margin-right: 5px;
  margin-bottom: 5px;
  cursor: pointer;
  transition: background-color .3s;
}

.tabbed > label:hover,
.tabbed > input:checked + label {
  background-image:  url(image_path('congruent_pentagon.png'));
}

.tabs {
  clear: both;
  perspective: 900px;

}

.tabs > div {
  border: 4px solid #b1f6cb;
  width: 994px;
  border-radius: 3px;
  position: absolute;
  padding: 10px 30px 40px;
  line-height: 1.4em;
  opacity: 0;
  transform: rotateX(-20deg);
  transform-origin: top center;
  transition: opacity .3s, transform 1s;
  z-index: 0;
}

#tab-nav-1:checked ~ .tabs > div:nth-of-type(1),
#tab-nav-2:checked ~ .tabs > div:nth-of-type(2),
#tab-nav-3:checked ~ .tabs > div:nth-of-type(3),
#tab-nav-4:checked ~ .tabs > div:nth-of-type(4),
#tab-nav-5:checked ~ .tabs > div:nth-of-type(5),
#tab-nav-6:checked ~ .tabs > div:nth-of-type(6),
#tab-nav-7:checked ~ .tabs > div:nth-of-type(7),
#tab-nav-8:checked ~ .tabs > div:nth-of-type(8),
#tab-nav-9:checked ~ .tabs > div:nth-of-type(9),
#tab-nav-10:checked ~ .tabs > div:nth-of-type(10) {
  transform: rotateX(0deg);
  opacity: 1;
  z-index: 1;
}
.answer_left {
  float: right;
  list-style-type: none;
}

#complete_button {
  position: relative; 
  top: 350px;
  float: right;
}

@media screen and (max-width: 750px) {
  .tabbed { width: 400px; height: auto; }
  .tabbed > label { display: none }
  .tabs > div {
    width: 400px;
    height: auto;
    border: none;
    padding: 0;
    opacity: 1;
    position: relative;
    transform: none;
    margin-bottom: 60px;
  }
  .tabs > div h2 {
    border-bottom: 2px solid #FF0404;
    padding-bottom: .5em;
  }
  #copmlete_button {
  position: fixed; top: 1px; right: -30%;
  }
}
