<div class='container'>
  <h3>Your score is: <code><%= @test_suit.statistics %></code></h3>
    <% @test_suit.questions.each_with_index do |question, index|%>
    <div class='row'>
    <div class='col-md-12'>
      <h4> <%= [index + 1, question.condition].join(') ') %></h4>
        <div class='col-md-10 col-md-offset-1'>
          <% question.answers.each_with_index do |answer, index|%>
            <p class="<%= answer.answer_valid && 'green' %>"><%= [index + 1, answer.solution].join(') ') %></p>
           <% end %> 
        </div>
    </div>
    </div>
    <hr>
  <% end %>
</div>
